#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.react-component {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #3b3b3b;
  margin-bottom: 2rem;
  min-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  text-align: left;
}

th {
  padding: 8px;
  background-color: rgb(72, 73, 74);
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f53d;
}

input[type="button"] {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

input[type="button"]:hover {
  background-color: #45a049;
}
